<div class="dashboard-navigation list-in-line" style="margin-top: 150px;">
  <div class="dashboard-onglet">
    <strong><h5><%= link_to "Mes réservations en attente", mon_profil_path, class: "#{ "active" if controller_name == "profiles" && action_name == "show" }" %></h5></strong>
  </div>
</div>
