<div class="dashboard-navigation list-in-line" style="margin-top: 150px;">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item me-5 mon-profil"><p><%= link_to "Mes réservations en attente", mon_profil_path, class: "#{ "active" if controller_name == "profiles" && action_name == "show" }" %></p></li>
    </ul>
  </div>
</div>
