<div class="index-background-color">
  <div class="main-banner">
    <h1 class="title">E<i>asy</i>SCAPE</h1>
    <h5>
    <span class="second-title" data-controller="typed-js"></span>
    </h5>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 second-title-margin">
        <h3>Découvrez nos plus belles chambres !</h3>
      </div>
      <div class="container-carousel">
        <div>
          <p>E<i>asy</i>SCAPE c'est quoi ? Fondé en 2022, E<i>asy</i>SCAPE a pour mission de faciliter le voyageur à trouver un logement en quelques clics.</p>
          <p>Ne perdez plus votre temps à chercher votre hôtel, notre plateforme rassemble l'ensemble des offres sur internet.</p>
          <p>Avec E<i>asy</i>SCAPE, réservez une de nos sublimes chambres sans vous ruiner.</p>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active carousel-image">
                <img class="d-block w-100" src="https://images.unsplash.com/photo-1464890100898-a385f744067f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZmxhdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="First slide">
              </div>
              <div class="carousel-item carousel-image">
                <img class="d-block w-100" src="https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZmxhdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="Second slide">
              </div>
              <div class="carousel-item carousel-image">
                <img class="d-block w-100" src="https://images.pexels.com/photos/2459/stairs-home-loft-lifestyle.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <br>
        <br>
        <br>
        <h4 class="row justify-content-center">A propos de E<i>asy</i>SCAPE</h4>
      </div>
    <div class="circle1">
      <p>NOTRE VISION</p>
      <p>Nous aspirons à devenir la plateforme dont vous ne pourrez plus vous passer.</p>
    </div>
    <div class="circle2">
      <p>NOTRE MISSION</p>
      <p>Notre mission est de regrouper l'ensemble des meilleures offres de chambres d'hôtel parmi toutes celles proposées sur internet.</p>
    </div>
    <div class="circle3">
      <p>NOTRE PROMESSE</p>
      <p>E<i>asy</i>SCAPE a vocation à vous offrir les meilleures chambres au meilleur prix !</p>
    </div>
    </div>
  </div>
</div>
