.footer {
  background-color: $lightbrown;
  color: white;
  text-align: left;
  font-size: light;
  padding-top: 70px;

  p {
     a  {
      font-family: roboto;
      text-decoration: none;
     }

  }
}
